<style type="text/css">
table.ziwo tr
{
    line-height:25px;
    vertical-align: text-bottom;
    padding-bottom:3px;
    border-bottom: 1px solid #f3f3f3;
    margin-bottom:5px;
    word-wrap: break-word;
    word-break: break-all;
}

td.cc
{
    width: 35px;
    font-size: 80%;
    color:#900;
}

td.dt
{
    width: 130px;
    font-size: 75%;
    color:#999;
    padding: 0;
    margin: 0;
}

td.tid
{
    display: none;
}

table.ziwo td a
{
    color:#333;
}

table.ziwo td.star a
{
    font-weight: bold;
    color: #0194C4;
}

table.ziwo td.done a
{
    font-weight: bold;
    color:#000;
}

.flow_block
{
    padding:10px;
    border: 1px solid #eee;
    background: white;
    width: 550px;
    margin: 5px;
    float: left;
    min-height: 100px;
}
</style>

<h2 class="main_board"><?=__('PL_ZIWO_TITLE')?></h2>
<div class="line"></div>

<?php
  if( isset($uid) ): ?>
    <div id="ziwo_list" uid="<?=$uid ?>" class="flow_block"></div>
    <script type="text/javascript">

    function load_ziwo()
    {
        var tid = 0;
        var obj = $('td.tid');
        if( obj.length ) tid = parseInt( $(obj).last().text() );

        var url = '?c=plugin&a=ziwo_item&since_id='+tid;
        $.post( url , {}  , function( data )
        {
            $('#ziwo_list').append(data);
            if( $('p.nodata').length === 0 ) {
                $('td.just_added').removeClass('just_added');
                load_ziwo();
            } else {
                $.each($('td.cc'), function (i, obj) {
                    $(obj).html('['+(i+1)+']');
                } );
            }
        } );
    }
    load_ziwo();

    </script>
<?php endif; ?>